<%- include('header', title) %>

<script>
async function ajax() {
    const data = {
        id:document.querySelector('#id').value,
        pass:document.querySelector('#pass').value
    }
    const resp = await fetch('/hello/ajax', {
        method:'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    const result = await resp.json()
    document.querySelector('#msg').textContent = result.message

}
</script>
<p class="my-2" id="msg"><%= message %></p>
<div class="mb-3">
    <label for="id" class="form-label">ID</label>
    <input type="text" class="form-control"
    id="id" name="id" value="<%=id %>">
</div>
<div class="mb-3">
    <label for="pass" class="form-label">Password</label>
    <input type="password" class="form-control"
    id="pass" name="pass" value="<%=pass %>">   
</div>
<button class="btn btn-primary" onclick="ajax()">送信</button>

<%- include('footer') %>
